
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h3> <a href="index.html" class="logo me-auto"><img src="~/Img/Logo.jpg" alt="" class="img-fluid" width="110">Çakar Otomotiv</a></h3>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/Home/Anasayfa" class="active">Anasayfa</a></li>
                <li class="dropdown">
                    <a href="#"><span>Kurumsal</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Home/About">Hakkımızda</a></li>
                        <li><a href="/Home/Service">Hizmetler</a></li>
                        <li><a href="/Home/Team">Takım Arkadaşlarımız</a></li>  
                    
                    </ul>
                </li>
                <li><a href="/Home/Car">Araçlarımız</a></li>
     
                    <li class="dropdown">
                            <a href="#"><span>Teknik Sayfalar</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/Admin/Hero/Index">Admin</a></li>
                            </ul>
                        </li>

                <li><a href="/Home/Contact">İletişim</a></li>
                <li><a href="/Home/CarRequestForm" class="getstarted">Araç Talebi</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
