<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Çakar Oto Galleri</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Sailor/assets/img/favicon.png" rel="icon">
    <link href="~/Sailor/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Vendor CSS Files -->
    <link href="~/Sailor/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Sailor/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
               
    <!-- Templat~/Sailor/e Main CSS File -->
    <link href="~/Sailor/assets/css/style.css" rel="stylesheet">
</head>

