@model ConfirmMailViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    @*sayfayı ortalama için *@
    <br />
    <br />
    <form method="post">
        <h2>Taşınan Mail Adresi: @ViewBag.v @*@TempData["Mail"]*@</h2> @*registerde gönderilen amil adresi*@
        <br />
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
        <br />
        <label>Mail Adresinize gelen 6 haneli kodu giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmCode" />
        <br />
        <button class="btn btn-primary"> Hesabı Aktifleştir</button>
    </form>
</div>
