@model DataAccessLayer.Entities.About

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h4>Hakkımızda Ekleme Paneli</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.AppUserId" class="form-control" type="hidden" />
            <input asp-for="@Model.RowOrder" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" type="file"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutDecription" class="control-label"></label>
                <input asp-for="AboutDecription" class="form-control" />
                <span asp-validation-for="AboutDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title1" class="control-label"></label>
                <input asp-for="Title1" class="form-control" />
                <span asp-validation-for="Title1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title12" class="control-label"></label>
                <input asp-for="Title12" class="form-control" />
                <span asp-validation-for="Title12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title3" class="control-label"></label>
                <input asp-for="Title3" class="form-control" />
                <span asp-validation-for="Title3" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index">Listeye Geri Dön</a>
</div>
